.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}

.sIFR-replaced {
	display : none !important;
}

span.sIFR-alternate {
}

div#sidebar {display : none;}

#container, #block {
	margin : 0;
	width : 100%;
	padding : 0;
}